section#about.views
  .ui.header.align.center g0v.tw Project Pilot
  .ui.divider
  p.align.center
    a(href="https://github.com/g0v/project-hub-mockup", target="_blank") The source code is on github here.
      i.icon.forward.mail
  p.align.center
    a(href="https://github.com/g0v/project-hub-mockup/blob/master/livescripts/project-list.ls", target="_blank") To complete the data, please edit this .ls file,
      i.icon.forward.mail
  p.align.center
    a(href="https://g0v.hackpad.com/g0v-project-hub--l1W5Cw53OyI", target="_blank") or add data to this hackpad.
      i.icon.forward.mail
  p.align.center
    a(href="https://github.com/g0v/project-hub-mockup/blob/gh-pages/json/project-list.json", target="_blank") and I will convert / merge new data to this .json file.
      i.icon.forward.mail
  p.align.center
    a(href="http://g0v.github.io/project-hub-mockup/", target="_blank") And this webpage will be updated after deploying.
      i.icon.forward.mail
  p.align.center
    a(href="https://github.com/g0v/project-hub-mockup/issues", target="_blank") If you are familiar with javascript, please help me with these issues.
      i.icon.forward.mail
  p.align.center
    a(href="https://g0v.hackpad.com/hQ9RdcSw7Gd", target="_blank") For more info, please check out this hackpad
      i.icon.forward.mail
  p.align.center We can discuss this project on irc.freenode.net#g0v.tw
    br
    | (mention ipa, jimyhuang, Lee1092, a0000778, ETBlue)