nav#sidebar(ng-controller="NavCtrl")
  .ui.menu.no.margin
    .ui.dropdown.item 
        span(ng-bind="$state.current.hub.name")
        i.icon.dropdown
        .menu
          .item(ng-click="switchHub(hub.url)", ng-repeat="hub in activedhubs.hubs") {{hub.name}}
    .right.menu
      .ui.dropdown.icon.item
        i.icon.ellipsis.vertical
        .menu
          .item(ng-click="goto('wiki')")
            i.icon.pencil
            | Edit 
            //-i.icon.forward.mail.right
          .item(ng-click="goto('home')")
            i.icon.unhide
            | View 
          .item(ng-click="goto('about')")
            i.icon.help
            | About
  #search.field
    .ui.icon.input
      input(ng-click="goto('home')" placeholder="search...", type="text" ng-model="filters.search_text")
      i.icon.search
  #index.ui.vertical.fluid.menu.no.margin
    div.ui.accordion(ng-repeat="(menu_name, menu_items) in menu")
      div.title.header.item(ng-click="toggle[menu_name] = !toggle[menu_name]" ng-class="{'active':toggle[menu_name]}") {{menu_name}} ({{counts[menu_name]}})
        i.icon.dropdown
      .content.ui.small.menu(ng-class="{'active':toggle[menu_name]}")
        .menu
          a.item(ng-click="toggleFilter(menu_name, item_name)" ng-repeat="(item_name, item_count) in menu_items")
            .ui.label {{item_count}}
            |  {{item_name}}
