section#projects.views
  #filter
    .ui.large.label(ng-repeat="filter_attr in filters.indicators") {{filter_attr.name}}
      i.icon.delete(ng-click="delFilter(filter_attr.category, filter_attr.name)")
  #count 
    span(ng-if="filterd_projects.length != projects.length") showing {{filterd_projects.length}} out of 
    | {{projects.length}} projects
  #list.ui.two.column.stackable.grid
    article.column.project(ng-repeat="project in projects | filter:filters.attributes:true | filter:filters.search_text as filterd_projects")
      .wrapper
        a.ui.image(href="", target="_blank")
          img(ng-src="{{project.logo}}")
        .content
          h3.ui.header
            span.text {{project.name.zh}}
          p.description {{project.intro.zh.short}}
          p.achievement
            a.ui.large.label(href="{{achievement.link}}", target="_blank" ng-repeat="achievement in project.achievement")
              i.icon(ng-class="icon_css[achievement.type]") 
              {{achievement.type}}
              i.icon.forward.mail
