section#projects.views
  #filter
    .ui.large.label(ng-repeat="filter in filters") {{filter.name}}
      i.icon.delete
  #count showing {{projects_count.current}} out of {{projects_count.total}} projects
  #list.ui.two.column.stackable.grid
    article.column.project(ng-repeat="project in projects")
      .wrapper
        a.ui.image(href="", target="_blank")
          img(ng-src="{{project.logo}}")
        .content
          h3.ui.header
            span.text {{project.name.zh}}
          p.description {{project.intro.zh.short}}
          p.achievement
            a.ui.large.label(href="{{achievement.link}}", target="_blank" ng-repeat="achievement in project.achievement")
              i.icon(ng-class="icon_css[achievement.type]") 
              {{achievement.type}}
              i.icon.forward.mail
