html(ng-app='OhMyHub' ng-controller='AppCtrl')
  head
  title(ng-bind="$state.current.name")
  link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.11.0/css/semantic.min.css")
  link(rel="stylesheet", type="text/css", href="/css/main.css")
  script(type="text/javascript", src="vendor/jquery.js")
  script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.11.0/javascript/semantic.min.js')
  script(type="text/javascript", src="vendor/angular.min.js")
  script(type="text/javascript", src="vendor/angular-ui-router.min.js")
  script(type="text/javascript", src="app/project/project.js")
  script(type="text/javascript", src="app/about/about.js")
  script(type="text/javascript", src="app/wiki/wiki.js")
  script(type="text/javascript", src="app/nav/nav.js")
  script(type="text/javascript", src="app/app.js")
body(class='ui dimmable')
  include ./app/nav/nav
  <div ui-view></div>
